$primary-color: rgb(74, 58, 74);
$hover-aside-color: rgb(44, 34, 44);
$hover-main-color: lightgray;
$background: #eee;
$secondary-color: #fff;

* {
  box-sizing: border-box;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.app {
  margin: 10vh auto;
  max-width: 800px;
  min-width: 500px;
  border: 3px solid grey;
  border-radius: 10px;
  overflow: hidden;
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
  'h h h h h h h h h h h h'
  'a a a m m m m m m m m m'
  'a a a m m m m m m m m m'
  'a a a m m m m m m m m m'
  'a a a m m m m m m m m m'
  'a a a m m m m m m m m m'
  'a a a m m m m m m m m m'
  'a a a m m m m m m m m m'
  'a a a m m m m m m m m m'
  'a a a m m m m m m m m m'
  'a a a m m m m m m m m m'
  'a a a m m m m m m m m m';
}



header {
  grid-area: h;
  background: $background;
  color: gray;
  padding-left: 10px;
}

aside {
  box-sizing: inherit;
  background: $primary-color;
  color: white;
  grid-area: a;
}

.user-authentication {
  padding: 10px 0 0 10px;
  font-size: 1.2rem;

  input {
    margin-left: 10px;
    text-align: end;
    border: none;
    background: none;
    color: $background;
    border: 2px solid #eee;
    border-radius: 10px;

    &:hover {
      background: $hover-aside-color;
    }
  }

}

.rooms-list {
  display: grid;
  grid-template-areas:
  '. . .'
  '. l .'
  '. c .';
  grid-template-rows: 50px 1fr 50px;
  min-height: 95%;

}

.rooms {
  grid-area: l;

  .room {
    display: flex;
    flex-direction: row;

    div {
      &:first-child {
        min-width: 200px;
      }
    }

    &:hover {
      background: $hover-aside-color;
    }

    button {
      text-align: end;
      border: none;
      background: none;
      color: $background;

      &:hover {
        border: 1px solid #eee;
        border-radius: 10%;
      }
    }
  }
}

.create-room {
  grid-area: c;

  input {
    padding: 0 10px;
    margin-left: 10px;
    text-align: end;
    border: none;
    background: none;
    border: 2px solid #eee;
    border-radius: 10px;
    height: 30px;

    &:first-child {
      background: white;
    }

    &:last-child{
      color: $background;
      &:hover {
        background: $hover-aside-color;
        border-radius: 10px;
      }
    }
  }
}

a {
  padding: 5px 0;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: 1.1rem;
}

main {
  box-sizing: inherit;
  background: white;
  height: 100%;
  grid-area: m;
}

.message-list {
  display: grid;
  grid-template-areas:
  'r r r r r r r r r'
  '. m m m m m m m .'
  '. i i i i i i i .';
  grid-template-rows: 50px 1fr 50px;
  height: 70vh;

  h2 {
    text-align: center;
    margin: 0;
    padding: 10px;
    border-bottom: 2px solid lightgrey;
    grid-area: r;
  }
}

.messages {
  overflow: hidden;
  overflow-y: scroll;
  grid-area: m;
}

.create-message {
  justify-self: center;
  grid-area: i;
  min-width: 100%;

  input {
    border: 2px solid lightgray;

    &:first-child {
      height: 30px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      border-right: none;
      width: 300px;
      min-width: 80%;
    }

    &:last-child {
      height: 30px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      min-width: 20%;

      &:hover {
        background: $hover-main-color;
      }

    }
  }
}

.message {

  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
  background: $background;

  div {
    &:nth-child(1) {
      font-size: 0.8rem;
    }

    &:nth-child(2) {
      font-size: 1rem;
    }

    &:nth-child(3) {
      align-self: flex-end;
      font-size: .8rem;
    }
  }
}
