$primary-color: rgb(74, 58, 74);
$hover-color: rgb(44, 34, 44);
$background: #eee;
$secondary-color: #fff;

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.app {
  margin: 10vh auto;
  max-width: 800px;
  min-width: 500px;
  border: 1px solid;
  border-radius: 10px;
  overflow: hidden;
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
  'h h h h h h h h h h h h'
  'a a m m m m m m m m m m'
  'a a m m m m m m m m m m'
  'a a m m m m m m m m m m'
  'a a m m m m m m m m m m'
  'a a m m m m m m m m m m'
  'a a m m m m m m m m m m'
  'a a m m m m m m m m m m'
  'a a m m m m m m m m m m'
  'a a m m m m m m m m m m'
  'a a m m m m m m m m m m'
  'a a m m m m m m m m m m';
}



header {
  // position: fixed;
  // top: 5px;
  grid-area: h;
}

aside {
  box-sizing: inherit;
  background: $primary-color;
  padding: 10px 20px;
  color: white;
  grid-area: a;
}

.user-authentication {
  font-size: 1.2rem;

  input {
    margin-left: 10px;
    text-align: end;
    border: none;
    background: none;
    color: $background;
    border: 1px solid #eee;
    border-radius: 10px;

    &:hover {
      border: 2px solid #eee;
      border-radius: 10px;
    }
  }

}

.rooms-list {
  padding: 30px 0;

  div {
    display: flex;
    flex-direction: row;
    width: 150px;

    &:hover {
      background: $hover-color;
    }

    button {
      text-align: end;
      border: none;
      background: none;
      color: $background;

      &:hover {
        border: 1px solid #eee;
        border-radius: 10%;
      }
    }
  }
}

a {
  padding: 5px 0;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: 1.1rem;
}

main {
  box-sizing: inherit;
  background: white;
  height: 100%;
  grid-area: m;
}

.message-list {
  display: grid;
  grid-template-areas:
  'r r  r r r'
  'm m m m m'
  '. i i i .';
  grid-template-rows: 50px 1fr 50px;
  height: 70vh;

  h2 {
    text-align: center;
    margin: 0;
    padding: 10px;
    border-bottom: 2px solid lightgrey;
    grid-area: r;
  }
}

.messages {
  overflow: hidden;
  overflow-y: scroll;
  grid-area: m;
}

.create-message {
  justify-self: center;
  grid-area: i;

  input {
    border: 2px solid lightgray;

    &:first-child {
      height: 30px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      border-right: none;
      width: 300px;
      min-width: 80%;
    }

    &:last-child {
      height: 36px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      min-width: 10%;

    }
  }
}

.message {

  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
  background: $background;

  div {
    &:nth-child(1) {
      font-size: 0.8rem;
    }

    &:nth-child(2) {
      font-size: 1rem;
    }

    &:nth-child(3) {
      align-self: flex-end;
      font-size: .8rem;
    }
  }
}
