$primary-color: rgb(74, 58, 74);
$background: #eee;
$secondary-color: #fff;

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.app {
  margin: 10vh auto;
  width: 80vw;
  height: 80vh;
  border: 1px solid;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 5px;
}

aside {
  box-sizing: inherit;
  background: $primary-color;
  float: left;
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 100%;
  padding: 10px 20px;
  color: white;

}

.user-authentication {
  font-size: 1.2rem;

  input {
    margin-left: 10px;
    text-align: end;
    border: none;
    background: none;
    color: $background;

    &:hover {
      border: 1px solid #eee;
      border-radius: 10%;
    }
  }

}

.rooms-list {
  padding: 30px 0;

  div {
    display: flex;
    flex-direction: row;
    width: 150px;

    button {
      text-align: end;
      border: none;
      background: none;
      color: $background;

      &:hover {
        border: 1px solid #eee;
        border-radius: 10%;
      }
    }
  }
}

a {
  padding: 5px 0;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: 1.1rem;
}

main {
  box-sizing: inherit;
  background: $background;
  height: 100%;
  background: white;
}

.message-list {
  display: flex;
  flex-direction: column;
  height: 100em;

  h2 {
    text-align: center;
    margin: 0;
    padding: 20px;
    border-bottom: 2px solid lightgrey;
  }
}

.messages {
  overflow: hidden;
  overflow-y: scroll;
  height: 40em;
}

.create-message {
  justify-self: center;
  // margin: 10px auto;
  border: 1px solid lightgray;
  border-radius: 10px;


  input {

    &:first-child {
      width: 89%;
    }

    &:last-child {
      width: 10%;
    }
  }
}

.message {

  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
  background: $background;

  div {
    &:nth-child(1) {
      font-size: 0.8rem;
      // float: right;
    }

    &:nth-child(2) {
      font-size: 1rem;
      // float: right;
    }

    &:nth-child(3) {
      align-self: flex-end;
      font-size: .8rem;
    }
  }
}
