* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.app {
  margin: 10vh auto;
  max-width: 800px;
  min-width: 500px;
  border: 1px solid;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'h h h h h h h h h h h h' 'a a m m m m m m m m m m' 'a a m m m m m m m m m m' 'a a m m m m m m m m m m' 'a a m m m m m m m m m m' 'a a m m m m m m m m m m' 'a a m m m m m m m m m m' 'a a m m m m m m m m m m' 'a a m m m m m m m m m m' 'a a m m m m m m m m m m' 'a a m m m m m m m m m m' 'a a m m m m m m m m m m';
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: h;
}

aside {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  background: #4a3a4a;
  color: white;
  -ms-grid-row: 2;
  -ms-grid-row-span: 11;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: a;
}

.user-authentication {
  padding: 10px 5px 0 5px;
  font-size: 1.2rem;
}

.user-authentication input {
  margin-left: 10px;
  text-align: end;
  border: none;
  background: none;
  color: #eee;
  border: 2px solid #eee;
  border-radius: 10px;
}

.user-authentication input:hover {
  background: #2c222c;
  background: lightgray;
}

.rooms-list {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'l' 'c';
  -ms-grid-rows: 1fr 50px;
      grid-template-rows: 1fr 50px;
  min-height: 95%;
}

.rooms {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: l;
  padding-top: 20px;
}

.rooms .room {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 5px;
}

.rooms .room div {
  width: 150px;
}

.rooms .room:hover {
  background: #2c222c;
  background: lightgray;
}

.rooms .room button {
  text-align: end;
  border: none;
  background: none;
  color: #eee;
}

.rooms .room button:hover {
  border: 1px solid #eee;
  border-radius: 10%;
}

.create-room {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: c;
}

.create-room input {
  padding: 0 10px;
  margin-left: 10px;
  text-align: end;
  border: none;
  background: none;
  color: #eee;
  border: 2px solid #eee;
  border-radius: 10px;
  height: 30px;
}

.create-room input:first-child {
  background: white;
}

.create-room input:last-child:hover {
  background: #2c222c;
  background: lightgray;
  border-radius: 10px;
}

a {
  padding: 5px 0;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: 1.1rem;
}

main {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  background: white;
  height: 100%;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: m;
}

.message-list {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'r r  r r r' 'm m m m m' '. i i i .';
  -ms-grid-rows: 50px 1fr 50px;
      grid-template-rows: 50px 1fr 50px;
  height: 70vh;
}

.message-list h2 {
  text-align: center;
  margin: 0;
  padding: 10px;
  border-bottom: 2px solid lightgrey;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: r;
}

.messages {
  overflow: hidden;
  overflow-y: scroll;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: m;
}

.create-message {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: i;
}

.create-message input {
  border: 2px solid lightgray;
}

.create-message input:first-child {
  height: 30px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: none;
  width: 300px;
  min-width: 80%;
}

.create-message input:last-child {
  height: 30px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  min-width: 10%;
}

.create-message input:last-child:hover {
  background: lightgray;
}

.message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  margin: 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
  background: #eee;
}

.message div:nth-child(1) {
  font-size: 0.8rem;
}

.message div:nth-child(2) {
  font-size: 1rem;
}

.message div:nth-child(3) {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: .8rem;
}
/*# sourceMappingURL=index.css.map */